In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [3]:
df = pd.read_csv('Students.csv')

In [4]:
df['MathScore'].fillna(df['MathScore'].mean(), inplace=True)
df['EnglishScore'].fillna(df['EnglishScore'].mean(), inplace=True)

In [5]:
label_encoder = LabelEncoder()
df['Gender'] = label_encoder.fit_transform(df['Gender'])

In [6]:
df['TotalScore'] = df['MathScore'] + df['EnglishScore']

In [7]:
scaler = StandardScaler()
df[['MathScore', 'EnglishScore', 'TotalScore']] = scaler.fit_transform(df[['MathScore', 'EnglishScore', 'TotalScore']])

In [8]:
print(df)

   StudentID     Name  Gender  Age  MathScore  EnglishScore  TotalScore
0          1    Alice       0   15        0.5      0.597614    0.622841
1          2      Bob       1   16        0.0      1.195229    0.830455
2          3  Charlie       1   15       -0.5      0.000000   -0.207614
3          4    Diana       0   16        1.5      0.000000    0.622841
4          5      Eve       0   15       -1.5     -1.792843   -1.868523